<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.nancyberry.wepost"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.nancyberry.wepost.common.context.GlobalContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.DarkActionBar">
        <meta-data
            android:name="CLIENT_ID"
            android:value="\ 2362431378"/>
        <meta-data
            android:name="CLIENT_SECRET"
            android:value="582ce3cdcdeb8a3b45087073d0dbcadf"/>
        <meta-data
            android:name="REDIRECT_URI"
            android:value="http://boyqiang520.s8.csome.cn/oauth2/"/>
        <meta-data
            android:name="BASE_URI"
            android:value="https://api.weibo.com/2/"/>

        <activity
            android:name=".ui.account.AccountActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.login.LoginActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.timeline.FriendTimelineActivity"
                  android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.timeline.PicsViewPagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".ui.BrowserActivity">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
